header {    
    max-width: 1440px;
    max-height: 80px;
}
h1 {/* Cómo posiciono el h1 en el titulo y achico el espacio entre él y el párrafo?*/
    color: #060A24;
    font-size: 64px;
    font-family: 'IBM Plex sans', sans-serif;
}
h2 {
    font-family: 'IBM Plex sans', sans-serif;
}
h3 {
    color: #060A24;
    font-family: 'IBM Plex Sans', sans-serif;/*por qué no me etoma la plex sans-semibold? laa tengo que descargar tambien?*/

}
p {/*cómo divido el texto a la mitad para que quede igual?*/
    font-family: 'IBM Plex mono', monospace;
    font-size: 16px;
    color: #060A24;
    letter-spacing: 0;
    line-height: 24px;
}

.blue {
    color:#0000EC;
}
.tachado {
    text-decoration: line-through;
}

.menunav {
    display: inline;
}
.menunav ul {
    position: relative;  
    max-height: 26px;  
    float: right;
}
.menunav ul li {
    display: inline;/*está bien que esten separadas con un margin right o hay una forma mas eficiente de calcular el espacio?*/
    margin-right: 33px;
    font-family: 'IBM Plex Mono', monospace;
    color: #060A24;
    font-size: 16px;
    text-transform: uppercase;
}
.clearfix:after {
    content: "";
    display: block; 
    clear: both;
}
.boton1 {
    background-color: #00F3BB;
    font-size: 18px;
    font-family: 'IBM Plex mono-Medium', monospace;
    text-align: center;
    text-transform: uppercase;
    width: 226px;
    height: 56px;
    margin-left: 200px;
    border: 0;    
}

.containerepisodio {/*como hago para que quede bien :'( */
    clip-path: polygon(0 15%, 100% 0, 100% 77%, 0 93%);
    z-index: -2;     
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
}
.episodios {
    z-index: 2;
}