.menunav {
    ul {
        position: right;
        li {
            list-style-type: none;
            font-family: 'IBM Plex Mono', monospace;
            font-size: 16px;
            color: $color-fuente;
        }
    }
    
}
.logobd {
    box-sizing: content-box;
    width: 24px;
    height: 24px;
    float: left;
} 

