#section4 {
    h2 {
        font-family: $fuente-sans;
        font-size: 36px;
        max-width: 288px;
        margin-left: 16px;
    }
}
#section4 {
    article {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }
}
#section4 {
    .icon {
        text-align: center;
        h3 {
            font-size: 24px;
            color: $color-fuente;
        }
    }
}
