#section3 {
    @media screen and (min-width: 720px) {
        box-sizing: content-box;
        width: 1440px;
        height: 950px;
        margin-bottom: 0;
    }
    h2{
        color: $color-fuente;
        font-family: $fuente-sans;
        font-size: 36px;
        max-width: 200px;
        margin-left: 16px;
        @media screen and (min-width: 720px) {
            box-sizing: content-box;
            font-size: 48px;
            max-width: 490px;

        }
    }
}
#section3 {
    div { 
        @media screen and (min-width: 720px) {
            display: flex;
            flex-wrap: wrap;
        }
        img {
            width:100vw;
            max-height: 243px;
            display: block;
            @media screen and (min-width: 720px) {
                max-width: 380px;
                max-height: 364px;
            }
        }
    }
}