h1 {
    font-family: $fuente-sans;
    font-size: 36px;
    color: $color-fuente;
    max-width: 250px;

    .tachado {
        text-decoration: line-through;
    }
}
.section1 {
    p {
        font-family: $fuente-mono;
        font-size: 14px;
        max-width: 288px;
        color: $color-fuente;    
    }
}
.boton1 {
    background-color: #00F3BB;
    font-size: 16px;
    font-family: 'IBM Plex mono-Medium', monospace;
    text-align: center;
    text-transform: uppercase;
    width: 288px;
    height: 48px;
    border: 0;    
}