#section4 {
    h2 {
        font-family: $fuente-sans;
        font-size: 36px;
        max-width: 288px;
        margin-left: 16px;
        @media screen and (min-width: 720px) {
            font-size: 48px;
            max-width: 590px;
            margin-top: 0;
            position: relative;
            left: 200px;
            bottom: 69px;
        }
    }
}
#section4 {
    article {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        @media screen and (min-width: 720px) {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-evenly;
        }
    }
}
#section4 {
    .icon {
        text-align: center;        
        h3 {
            font-size: 24px;
            color: $color-fuente;
            font-family: $fuente-sans bold;
            font-weight: bolder;
            @media screen and (min-width: 720px) {
                max-width: 220px;
            }
        }
    }
}
