#section1 {
    display: flex;
}
h1 {
    font-family: $fuente-sans;
    font-size: 36px;
    color: $color-fuente;
    max-width: 250px;

    .tachado {
        text-decoration: line-through;
    }
}
h1 {
    .blue{
        color: #0000EC;
    }
}
.section1 {
    p {
        font-family: $fuente-mono;
        font-size: 14px;
        max-width: 288px;
        color: $color-fuente;    
    }
}
