#section3 {
    h2{
        color: $color-fuente;
        font-family: $fuente-sans;
        font-size: 36px;
        max-width: 200px;
        margin-left: 16px;
    }
}
#section3 {
    div {
        img {
            max-width: 320px;
            max-height: 243px;
            margin: 0;
            display: block;
        }
    }
}