#section2 {
    img {
    position: relative;
    bottom: 70px; 
    left: -30px;   
    height: 519px;
    width: 360px;        
    }
}
#section2 {
    h2 {
    color: $color-fuente;
    font-family: $fuente-sans;
    font-size: 36px;
    max-width: 200px;
    margin-left: 16px;
    }
}    
#section2 {
    div {
        margin: 8px 16px;
    }
}
#section2 { 
    p {
        font-family: $fuente-mono;
        font-size: 14px;
        color: $color-fuente;
    }
}
