#section1 {
    display: flex;
}
h1 {
    font-family: $fuente-sans;
    font-size: 36px;
    color: $color-fuente;
    max-width: 250px;
    @media screen and (min-width: 720px) {
        font-size: 64px;
        max-width: 100%;
        margin-top: 142px;
        margin-left: 200px;
        margin-bottom: 0;        
    }    
    .tachado {
        text-decoration: line-through;        
    }
}
h1 {
    .blue{
        color: #0000EC;
    }
}
.section1 {
    p {
        font-family: $fuente-mono;
        font-size: 14px;
        max-width: 288px;
        color: $color-fuente;
        letter-spacing: 0;
        line-height: 24px;
        @media screen and (min-width: 720px) {
            max-width: 628px;
            margin-left: 200px;
            margin-top: 0;
        }
    }
}
