#section4 {
    h2 {
        color: $color-fuente;
        font-family: $fuente-sans;
        font-size: 36px;
        max-width: 288px;
        margin-left: 16px;
    }
}
#section4 {
    h3 {
        color: $color-fuente;
        font-family: 'IBM Plex Sans Semi-Bold', sans-serif;
    }
}
#section4 {
    article {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }
}
#section4 {
    .icon {
        margin: 0 auto; 
        width: 15%;
        text-align: center;       
    }
}

